<%= form_for @variate, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :experiment_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :experiment_id, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :variate_no, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :variate_no, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :js_code, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :js_code, :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  variates_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>


<%= form_for @variate, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.text_field :experiment_id, :class => 'text_field form-control' %>
    <%= f.number_field :variate_no, :class => 'text_field form-control' %>
    <%= f.text_area :js_code, :class => 'text_field form-control' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>