<%- model_class = Variate -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>
<div>
  <%= link_to variate_path(0), :class => 'btn btn-primary', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
      0
  <%- end -%>
  <% @variates.each do |variate| %>
    <%= link_to variate_path(variate), :class => 'btn btn-primary', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
        <%= variate.variate_no %>
    <%- end -%>
    <a class="btn btn-xs" href="save" >
      <%= glyph 'floppy-disk' %>
    </a>
    <a class="btn btn-xs" href="trash" >
    <%= glyph 'trash' %>
    </a>
    <%= link_to variate_path(variate), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
      <%= glyph 'remove' %>
    <%- end -%>

      <%= form_for variate, html: {method: :update}  do |f| %>
          <%= f.hidden_field :id %>

          <%= f.hidden_field :js_code %>

          <%= f.submit nil, :class => 'btn btn-primary' %>
      <% end %>


  <% end %>

  <%= link_to new_variate_path(variate: {experiment_id: params[:id]}), :class => 'btn btn-m', :title => "#{ t('.new', :default => t("helpers.links.new")) }" do %>
    <%= glyph 'plus' %>
  <%- end -%>


</div>