<%= form_for @experiment, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :property_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :property_id, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_from, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :date_from, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_to, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :date_to, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :live, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :live, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :page_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :page_url, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :unique_identifier, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :unique_identifier, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :js_code, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :js_code, :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <!-- TODO: Is request.referrer the correct choice here? -->
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  @property, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
