<%= form_for @experiment, :html => { :class => 'form-horizontal' } do |f| %>
  <!--<div class="form-group">-->
    <!--<%= f.label :property_id, :class => 'control-label col-md-2' %>-->
    <!--<div class="col-md-10">-->
      <!--<%= f.text_field :property_id, :class => 'text_field form-control' %>-->
    <!--</div>-->
  <!--</div>-->
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_from, :class => 'control-label col-md-2' %>
    <div class="col-md-10 form-inline">
      <%= f.datetime_select :date_from, {}, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_to, :class => 'control-label col-md-2' %>
    <div class="col-md-10 form-inline">
      <%= f.datetime_select :date_to, {}, :class => 'form-control' %>
    </div>
  </div>
  <!--<div class="form-group">-->
    <!--<%= f.label :live, :class => 'control-label col-md-2' %>-->
    <!--<div class="col-md-1">-->
      <!--<%= f.check_box :live, :class => 'form-control' %>-->
    <!--</div>-->
  <!--</div>-->
  <div class="form-group">
    <%= f.label :page_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :page_url, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :unique_identifier, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :unique_identifier, :class => 'text_field form-control' %>
    </div>
  </div>
  <!--<div class="form-group">-->
    <!--<%= f.label :js_code, :class => 'control-label col-md-2' %>-->
    <!--<div class="col-md-10">-->
      <!--<%= f.text_area :js_code, rows: 5, :class => 'text_field form-control' %>-->
    <!--</div>-->
  <!--</div>-->

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <!-- TODO: Is request.referrer the correct choice here? -->
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  @property, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
