<%- model_class = Experiment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              @property, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_experiment_path(@experiment), :class => 'btn btn-default' %>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:property_id) %></dt>
      <dd><pre class="prettyprint"><%= @experiment.property_id %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:name) %></dt>
      <dd><pre class="prettyprint"><%= @experiment.name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:date_from) %></dt>
      <dd><pre class="prettyprint"><%= @experiment.date_from %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:date_to) %></dt>
      <dd><pre class="prettyprint"><%= @experiment.date_to %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:live) %></dt>
      <dd><pre class="prettyprint"><%= @experiment.live %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:page_url) %></dt>
      <dd><pre class="prettyprint"><%= @experiment.page_url %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:unique_identifier) %></dt>
      <dd><pre class="prettyprint"><%= @experiment.unique_identifier %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:js_code) %></dt>
      <dd><pre class="prettyprint"><%= @experiment.js_code %></pre></dd>
  </dl>
</div>

<%= render 'variates/index' %>

<h2>Original Page</h2>
<iframe src="<%= raw proxy_html_path(proxy: {uri: @experiment.page_url}) %>" id="variate" style="width:100%; height:1000px;"></iframe>

<script>
  var evolveMvt = evolveMvt || {};
  evolveMvt.pageDomain = '<%= @uri_domain %>';
</script>

